<%- include('partials/header') %>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <h3>Upload File</h3>
                <hr class="mt-0">

                <form action="/upload" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <input type="file" class="form-control-file" name="image" id="image" placeholder="Image"
                               aria-describedby="image">
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">
                            Upload Image
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>